<div>
	<h2>Agile ToDo</h2>
	<span *ngIf="error">{{error}}</span>
	<form>
		<input type="text" #newToDo />
		<button (click)='addToDo(newToDo)'>SUBMIT</button>
	</form>
	<div (click)="onFilterChange($event)">
		<a name="all" href="#" title="Show All Todos">ALL</a>
		<a name="completed" href="#" title="Show only Completed Todos">COMPLETED</a>
		<a name="bookmarked" href="#" title="Show only bookmared Todos">BOOKMARKED</a>
	</div>
</div>
<ul>
	<li *ngFor="let todo of filteredTodos">
		<input 
		*ngIf="todo.edit" 
		type="text"
		#dirtyTodo
		(keyup)="editTodo($event, todo.id, dirtyTodo.value)" 
		[value]="todo.title" /> 
		<span [draggable]="true" (dragstart)="onDragStart($event,todo.id)"  *ngIf="!	todo.edit" (click)="toggleCompleted(todo.id)" [class.completed]="todo.completed" title="{{todo.title}}">{{todo.title | ellipsis: 10}}</span>
		<span>
			<button (click)="toggleEdit(todo.id)" name="edit" title="Edit">&#X270D;</button>
			<button name="delete" (click)="deleteTodo(todo.id)" title="Delete">&#X2716;</button>
			<button (click)="showModal(todo.id)">Show Modal</button>
			<button name="bookmark" (click)="toggleBookmark(todo.id)" title="Bookmark">
				<span *ngIf="!todo.bookmark">&#X2606;</span>
				<span *ngIf="todo.bookmark" class="bookmarked">&#X2605;</span>
			</button>
		</span>
		<div>
			<span>Created On {{ todo.createdOn | date: 'shortDate'}}</span>
		</div>
	</li>
</ul>
<div *ngIf="filteredTodos.length===0 && filterAction==='ALL'">
No ToDos are exist!
</div>
<div *ngIf="filteredTodos.length===0 && filterAction==='COMPLETED'">
No ToDos have been completed yet :(
</div>
<div *ngIf="filteredTodos.length===0 && filterAction==='BOOKMARKED'">
No ToDos have been bookmarked.
</div>
<app-model [visible]="isModal" (Close)="onClose($event)">
	{{todoModal && todoModal.title}}
	<button (click)="isModal = !isModal">Close</button>
</app-model>
<ul class="droppable" (dragover)="onDragover($event)" (drop)="onDrop($event)">
	<li *ngFor="let todo of completedTodo">{{todo.title}}</li>
	{{droppedTodo && droppedTodo.title}}
</ul>
