.completed {
	text-decoration-line: line-through;
} 
.bookmarked {
	color: red;
}
.task-footer{
	margin-top: 10px;
	font-size: 10px;
}
.droppable{
	position: fixed;
	margin-left: auto;
	margin-right: 0;
	height: 90px;
	width: 150px;
	background-color: gray;
	font-size: 0.6em;
}