<!--The content below is only a placeholder and can be replaced.-->
<nav>
	<a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
	<a routerLink="/about" skipLocationChange routerLinkActive="active">About</a>
	<a routerLink="/login" skipLocationChange routerLinkActive="active">Login</a>
	<a routerLink="/register" skipLocationChange routerLinkActive="active">Register</a>
</nav>
<router-outlet></router-outlet>
