<h2>Login</h2>
<form #f="ngForm" (ngSubmit)="onLogin()">
	<div>
		<label>User Name</label> <input name="userName" type="text"
			[(ngModel)]="user.userName" required/>
	</div>
	<div>
		<label>Password</label> <input name="password" type="password"
			[(ngModel)]="user.password" required/>
	</div>
	<div>
		<button type="submit" [disabled]="!f.valid">Submit</button>
		<pre>
		{{debug(f)}}
		</pre>
	</div>
</form>