<p>
  greeting works!
  
  <input [(ngModel)]='modelGreeting' name="greeting" placeholder="greet me!" #greeting/>
  {{modelGreeting}}
  <input (click)="onClick(greeting.value)" type="button" value="Click me!"/>
  
  {{message.toUpperCase()}}
</p>
<h2 class="text-success">SUCCESS</h2>
<h2 [class]='successClass'>SUCCESS CLASS</h2>
<h2 [class.text-error]='error'>DANGER</h2>
<h2 [ngClass]='messageClasses'>ng Class</h2>
<h2 [ngStyle]='titleClasses'>ng Style</h2>
<h2 [style.color]='highlightColor'>style.color</h2>