<div>
	<form [formGroup]="registerForm" (ngSubmit)="save(registerForm)">
		<div>
			<label for="userName">User Name</label>
			<input type="text" name="userName" required formControlName="userName">
			{{registerForm.controls.userName?.errors | json}}
		</div>
		<div>
			<label for="emailId">Email Id</label>
			<input type="email" name="emailId" required formControlName="emailId">
			{{registerForm.get('emailId').errors | json}}
		</div>
		<div>
			<label for="password">User Name</label>
			<input type="password" name="password" required formControlName="password">
			{{registerForm.controls.password?.errors | json}}
		</div>
		<button type="submit" [disabled]="!registerForm.valid">Save</button>
	</form>
</div>